﻿


    <div class="container-fluid">
        <div class="wallet img-rounded bg-danger">
            <h4 class="text-center text-muted">Users</h4>
            <a class="text-primary" asp-area="" asp-controller="User" asp-action="Index">View</a>
        </div>
        <div class="wallet img-rounded bg-info">
            <h4 class="text-center text-muted">Products</h4>
            <a class="text-primary" asp-area="" asp-controller="Product" asp-action="Index">View</a>
        </div>
        <div class="wallet img-rounded bg-success">
            <h4 class="text-center text-muted">Widgets 3</h4>
            <a href="#">View</a>
            @*<a class="text-primary" asp-area="" asp-controller="BannerSlider" asp-action="Index">View</a>*@
        </div>
    </div>
    <div class="container-fluid:after"></div>
    <!--Banner Slider-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/lib/img/cool1.jpg" alt="image1">
            </div>

            <div class="item">
                <img src="~/lib/img/cool2.jpg" alt="image2">
            </div>

            <div class="item">
                <img src="~/lib/img/cool3.jpg" alt="image3">
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
