*{
    margin: 0;
    padding: 0;
}
.backgroundColor{
    background-color: lightsteelblue;
}
#header{
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .show{
    display: inline-block;
}
#header .btn{
    margin-right: 10px;
    border-radius: 4px;
    border-color: transparent;
    text-align: center;
    border-width: unset;
}
#header input{
    color: #fff;
    background-color: #6c757d;
    border-color: black;
    border-width: 2.5px;
    margin-right: 8px;
    width: 45px;
    height: 33.76px;
    text-align: center;
    border-radius: 4px;
}
h3{
    text-align: center;
    font-weight: bold;
    margin: unset;
    margin-right: 10px;
}
#header h3{
    text-align: center;
    font-weight: bold;
    margin: unset;
    margin-right: 10px;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
#header .dropdown-menu hr, #footer .dropdown-menu hr{
 margin: 0;
}
#header .dropdown-menu{
    min-width: 63px;
    background-color: lightgray;
    text-align: center;
}
#footer .dropdown-menu{
    min-width: 135px;
    background-color: lightgray;
}
table,th,td{
text-align: left;
padding: 5px;
/* border: 1px solid black; */
}
strong,u,sup{
    margin: 0;
}		
.block{
    height: 30px;
}
/* Array */
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}
#array{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    height: 100px;
    width: 90%;
    position: relative;
}
#previousNext{
    display: none;
    z-index: 1000;
}
.myCarousel{
    display: inline-block;
    position: static;
    margin: 0;
}
.carousel-indicators{
    pointer-events: none;
    bottom: -45px;
    line-height: normal;
    font-weight: unset;
}
.carousel-control{
    width: 10%;
}
#dataSet{
    margin: -2px;
    padding: 0;
}
/* Data Controller */
#functions{
    display: flex;
    justify-content: center;
}
#footer{
    font-weight: bolder;
    text-align: center;
    margin: auto;
}
#dropdown1 select{
    width: auto;
}
select,input{
    width: 100px;
}
h3 button:first-of-type{
    margin-right: 30px;
}
h3 button:last-of-type{
    margin-left: 30px;
}
h3 a{
    margin: 0;
}
.btn{
    font-weight: 550;
}
.multiple{
    display: none;
}
.box input{
    padding: 0;
    margin: 0;
    width: 50px;
    text-align: center;
}
#radioController input{
    padding: 0;
    margin: 0;
    width:auto;
}
#generateData{
    margin-right: 10px ;
}
#downButton{
    width: 75px;
}
.glow{
    animation: glow 0.5s ease-in-out infinite alternate;
    font-family: cursive;
}
@keyframes glow {
    from {
        text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #e60073, 0 0 2px #e60073, 0 0 2px #e60073, 0 0 2px #e60073, 0 0 2px #e60073;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 5px #ff4da6, 0 0 5px #ff4da6, 0 0 5px #ff4da6, 0 0 5px #ff4da6, 0 0 5px #ff4da6, 0 0 5px #ff4da6;
    }
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    right: 0;
    transition: .5s ease;
}
.overlay img{
    vertical-align: unset;
}
.disappear{
    display: none;
}