@charset "UTF-8";

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
  padding:0;
  margin:0;
}
#container {
  height:500px;
  width: 1000px;
}

#header{
  height: 50px;
  background-color: black;
  clear:both;
}
#nav {
  height: 100px;
  background-color: yellow;
  font-size: 0;
  clear: both;
}
.aside{
  height: 300px;
  width: 200px; 
}
#aside1{ /*right*/
  background-color: purple;
  float: left;
}

#aside2{ /*left*/
  background-color: purple;
  float: right;
} 

#main{
  height: 300px;
  width: 600px;
  background-color: pink;
  float: left;
  overflow: auto;
}
#footer{
  height: 50px;
  background-color: black;
  clear:both;
}
a{
  display: inline-block;
  width: 90px;
  font-size: 16px;
  font-weight: bolder;
  line-height: 60PX;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  margin-top: 20PX;
}
a:hover {
  color:white;
  background: grey;
  border: 2px solid;
  border-left-color: orange; 
  border-right-color: orange;
  border-top-color: orange;
}
table.one {
  border: 3px;
  border-style: solid;
  border-color: yellow;
  margin: 50px 50px 0px 0px;
}   
table.one th {
  border: 3px;
  border-style: dashed;
  border-color: black;
} 
table.one td {
  border: 2px;
  border-color: green;
  border-style: solid;
}

table.two {
  border: 2px;
  border-style: solid;
  border-color: blue;
  margin: 50px 0px 0px 50px;  
  border-collapse: collapse;
} 
table.two th {
  border: 1px;
  border-style: dashed;
  border-color: black;  
} 
table.two td {
  border: 2px;
  border-color: red;
  border-style: solid;  
  text-align: center;
} 
/*form style*/
td.two {
  border: 1px;
  border-color: red;
  border-style: solid;
  border-collapse: collapse;
  text-align: left;
} 
td.two ol {
  list-style-position: inside;
  line-height: 120%;
} 

