@charset "UTF-8";

* {
	padding:0;
	margin:0;
	color: white;
}
#container {
	display: flex;
	min-height: 100vh;
	min-width: 100vh;
}
#sidebar {
	width: 15%;
	background-color: black;
	float:left;
}
#sidebar.active {
    margin-left: -15%;
}
#main {
	width: 100%; 
	background-color: black;
	float:right;
}
#header {
	height: 10%;
	background-color: grey;
	position: relative;
}
#hamIcon {
	position: absolute;
	top:5px;
	left:5px;
}
#content {
	width: calc(100%-15%);
	height: 84%;
	background-color: white;
	margin: 0.3% auto;
	overflow: auto;
}
#content.active {
    width: 100%;
}
/*three small boxes*/
.box {
	height: 80px;
	width: 150px;
	background-color: white;
	border: 5px solid black;
	margin:30px;
	float:left;
}
.box:hover
{
	height: 100px;
	width: 180px;
	background-color: pink;
	border: 6px solid black;
	margin:30px;
	float:left;
}
#footer {
	height: 5%;
	background-color: blue;
}
/*sidebar menu*/
#menu {
	margin-left: 25px;
	margin-top: 150px;
}
#closeBtn {
	position: absolute;
	top: 10px;
	right: 10px;
}
nav a{
	border: 2px solid white;
	text-decoration: none;
	line-height: 3em;
	padding: 2px;
	font-weight: bolder;
	font-size: 12px;
	color: white;
}
nav a:hover {
	border: 2px solid yellow;
	color: green;
}
nav span {
	border: 2px solid white;
	text-decoration: none;
	line-height: 3em;
	padding: 2px;
	font-weight: bolder;
	font-size: 12px;
}
nav span:hover {
	border: 2px solid yellow;
	color: green;
}
#collapseOne a{
	border: 2px solid green;
	text-decoration: none;
	line-height: 4em;
	padding: 2px;
	font-weight: bold;
	font-size: 11px;
	margin-left: 20px;
}
#collapseTwo a{
	border: 2px solid green;
	text-decoration: none;
	line-height: 4em;
	padding: 2px;
	font-weight: bold;
	font-size: 11px;
	margin-left: 20px;
}
